.genderForm {
    /* position: relative; */
    background-color: white;
    border-radius: 8px;
    height: 150px;
    width: 100px;
    color: grey;
    /* align-items: center;*/
    padding: 30px 45px;
    margin: 200px auto;
    box-shadow: 5px 5px #ededed;
    border: 1px solid #ededed;

}   
